@font-face {
  font-family: "Pacifico";
  src: url(../fonts/pacifico.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  src: url(../fonts/open-sans-light.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/open-sans.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/open-sans-bold.ttf) format("truetype");
}
.header {
  display: flex;
  color: #fff;
  flex-direction: column;
  height: 800px;
  background: #124232 url('../img/header_bg.jpg') no-repeat center center;
  background-clip: content-box;
}
.header__lower-header {
  position: relative;
  height: 730px;
}
.header__socials {
  left: 46%;
  bottom: 48px;
}
@media screen and (max-width: 640px) {
  .header__socials {
    left: 40%;
  }
}
.upper-header {
  display: flex;
  height: 70px;
  background-color: rgba(16, 22, 54, 0.2);
  font-size: 13px;
}
.header-slider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.header-slider-content {
  overflow: hidden;
  min-width: 600px;
  max-width: 60%;
  max-height: 400px;
  margin-bottom: 75px;
}
.header-slider-content-wrapper {
  position: relative;
  height: 300px;
  transition: all 1s;
}
.header-slider-content-box {
  transition: all 0.3s;
  filter: opacity(0);
  text-align: center;
  font-family: OpenSansLight;
  margin-top: 125px;
  margin-bottom: 100px;
}
.header-slider-content-box_active {
  filter: opacity(1);
}
.header-slider-content-box-title {
  font-size: 62px;
}
.header-slider-content-box-title-important {
  font-family: OpenSansBold;
}
.header-slider-content-box-description {
  margin-left: -5px;
  font-size: 48px;
  margin-bottom: 18px;
}
.header-slider-content-box-description-colored {
  color: #0feb9e;
}
.header-slider-content-box-additional-text {
  position: relative;
  font-size: 18px;
  margin-left: 2px;
}
.header-slider-content-box-additional-text:before {
  position: absolute;
  top: 50%;
  left: 152px;
  content: '';
  width: 28px;
  border-bottom: 1px solid #0feb9e;
}
@media screen and (max-width: 1100px) {
  .header-slider-content-box-additional-text:before {
    left: 120px;
  }
}
.header-slider-content-box-additional-text:after {
  position: absolute;
  top: 50%;
  right: 150px;
  content: '';
  width: 28px;
  border-bottom: 1px solid #0feb9e;
}
@media screen and (max-width: 1100px) {
  .header-slider-content-box-additional-text:after {
    right: 120px;
  }
}
.header-slider-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 41%;
  right: 3%;
}
.header-slider-controls-button {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin: 7px 0;
  border-radius: 50%;
  border: 1px solid #fff;
}
.header-slider-controls-button:hover {
  transform: scale(1.5);
}
.header-slider-controls-button_active {
  background-color: #fff;
}
.logo {
  position: relative;
  display: flex;
  min-width: 300px;
  height: 100%;
  color: #fff;
  justify-content: center;
}
.logo__title {
  display: flex;
  font: 28px Pacifico;
  align-items: flex-end;
  margin-left: 22px;
  margin-right: 52px;
  letter-spacing: 1px;
}
.logo__additional-text {
  margin-top: 7px;
  display: flex;
  font-family: OpenSansLight;
  color: rgba(255, 255, 255, 0.3);
  align-items: center;
  letter-spacing: 0.7px;
}
.logo__additional-text:before {
  position: absolute;
  top: 32px;
  left: 50.2%;
  content: '';
  border-left: 1px solid #204458;
  width: 20px;
  height: 18px;
}
@media screen and (max-width: 990px) {
  .navigation {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 640px;
    height: 70px;
    justify-content: space-between;
  }
}
.navigation__list {
  margin-right: 52px;
  letter-spacing: 0.8px;
  justify-content: flex-end;
  display: flex;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .navigation__list {
    margin: 0 auto;
    max-width: 80%;
    justify-content: space-between;
  }
}
.navigation__list-item {
  box-sizing: content-box;
  margin: 0 17px;
  height: 100%;
}
.navigation__list-item-link {
  padding-top: 8px;
  display: flex;
  align-items: center;
  border-top: 2px solid transparent;
  height: 100%;
  color: #fff;
}
@media screen and (max-width: 990px) {
  .navigation__list-item-link {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 750px) {
  .navigation__list-item-link {
    padding: 20px 10px;
  }
}
.navigation__list-item-link_active {
  border-top: 2px solid #32b0ee;
}
@media screen and (max-width: 990px) {
  .navigation__list-item-link_active {
    border-top: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.navigation__list-item-link:hover {
  padding-top: 8px;
  border-top: 2px solid #32b0ee;
  color: #fff;
}
.socials {
  position: absolute;
}
.socials__list {
  display: flex;
}
.socials__list-item {
  width: 20px;
  height: 20px;
  margin: 0 6px;
  filter: opacity(0.3);
}
.socials__list-item:hover {
  filter: opacity(1);
}
.socials__list-item-link {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.socials__list-item_twitter {
  background: url("../img/header_socials_sprite.png") no-repeat -10px -50px;
}
.socials__list-item_facebook {
  background: url("../img/header_socials_sprite.png") no-repeat -88px -10px;
}
.socials__list-item_google {
  background: url("../img/header_socials_sprite.png") no-repeat -50px -10px;
}
.socials__list-item_dribbble {
  background: url("../img/header_socials_sprite.png") no-repeat -10px -10px;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url(../fonts/open-sans-extrabold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url(../fonts/open-sans-semibold.ttf) format("truetype");
}
.features {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 68px;
  height: 460px;
  background-color: #f4f7f9;
}
@media screen and (max-width: 1100px) {
  .features {
    height: 550px;
  }
}
@media screen and (max-width: 1000px) {
  .features {
    height: 800px;
  }
}
.block-title {
  position: relative;
  text-transform: uppercase;
  color: #0eb493;
  text-align: center;
  font: 28px OpenSansExtraBold;
  padding-bottom: 35px;
  background: url("../img/title_bg.png") no-repeat 50% 90%;
}
.features-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.features-slider__inner-content {
  position: absolute;
  display: flex;
  transition: all 1s;
}
.features-slider__content-box {
  display: flex;
}
.features-slider__content-box-element {
  color: #062033;
  max-width: 33%;
  padding-left: 55px;
  padding-right: 21px;
  margin-left: 30px;
}
@media screen and (max-width: 1000px) {
  .features-slider__content-box-element {
    max-width: 100%;
    padding: 0;
  }
}
.features-slider__content-box-element-title {
  font: 20px OpenSansSemiBold;
  margin-bottom: 18px;
}
.features-slider__content-box-element-text {
  text-align: justify;
  font: 13px OpenSansRegular;
  line-height: 21px;
  letter-spacing: -0.2px;
}
.features-slider__content {
  position: relative;
  height: 65%;
  width: 75%;
  overflow: hidden;
}
.features-slider__content-box {
  transition: all 0.5s;
  filter: opacity(0);
}
@media screen and (max-width: 1000px) {
  .features-slider__content-box {
    flex-direction: column;
  }
}
.features-slider__content-box-element_first {
  background: url('../img/features_feather.png') no-repeat 0px 4px;
}
.features-slider__content-box-element_second {
  margin-left: 27px;
  background: url('../img/features_pencil.png') no-repeat 0px 4px;
}
.features-slider__content-box-element_third {
  margin-left: 28px;
  background: url('../img/features_megaphone.png') no-repeat 0px 4px;
}
@media screen and (max-width: 1000px) {
  .features-slider__content-box-element {
    flex-direction: column;
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 1000px) {
  .features-slider__content-box-element {
    background-position: 0px 55%;
    background-size: 10%;
    padding-left: 80px;
  }
}
.features-slider__content-box_active {
  filter: opacity(1);
}
.features-slider__controls {
  display: flex;
  position: absolute;
  bottom: 55px;
  left: 47.8%;
}
.features-slider__controls-button {
  width: 8px;
  height: 8px;
  border: 1px solid #d4dade;
  border-radius: 50%;
  margin: 0 8px;
}
.features-slider__controls-button_active {
  border: 1px solid #062033;
  background-color: #062033;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px ;
}
.works__text-content {
  font: 18px OpenSansSemiBold;
  text-align: center;
  width: 60%;
  margin-top: 25px;
}
.photography {
  width: 100%;
}
.photography__sort {
  margin: 48px 0 0 20px;
  display: flex;
  justify-content: center;
}
.photography__sort-buttons {
  display: flex;
}
.photography__sort-buttons-item {
  margin: 0 5px 0 4px;
}
.photography__sort-buttons-link {
  display: inline-block;
  font: 14px OpenSansBold;
  color: #062033;
  padding: 5px 20px;
}
.photography__sort-buttons-link_active,
.photography__sort-buttons-link:hover {
  color: #fff;
  padding: 5px 20px;
  background-color: #0eb493;
  border-radius: 5px;
}
.photography__images-block {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 600px;
}
.photography__image,
.photography__photo-container-watch,
.photography__photo-container {
  width: 400px;
  height: 300px;
}
.photography__photo-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.photography__photo-container:hover .photography__photo-container-watch {
  transform: translateY(0);
}
.photography__photo-container-watch {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  transform: translateY(300px);
  background: rgba(14, 180, 147, 0.9) url("../img/works_eye.png") no-repeat 50% 38%;
  text-align: center;
  color: #fff;
}
.photography__photo-container-watch-title {
  margin-top: 65px;
  font: 18px OpenSansBold;
}
.photography__photo-container-watch-category {
  font: 14px OpenSansRegular;
  margin-top: -4px;
}
.photography__photo-container-watch:before {
  content: '';
  position: absolute;
  top: 31.5%;
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
}
body {
  max-width: 1600px;
  min-width: 640px;
  margin: 0 auto !important;
  padding: 0;
  font-family: OpenSansRegular;
}
ul,
ul li,
p,
h1,
h2,
h3,
h4,
a:hover {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.row {
  padding: 0 !important;
  margin: 0 !important;
}
