@font-face {
  font-family: "Pacifico";
  src: url(../fonts/pacifico.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansLight";
  src: url(../fonts/open-sans-light.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/open-sans.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/open-sans-bold.ttf) format("truetype");
}
.header {
  display: flex;
  color: #fff;
  flex-direction: column;
  height: 800px;
  background: #124232 url('../img/header_bg.jpg') no-repeat center center;
  background-clip: content-box;
}
.header__upper-header {
  display: flex;
  height: 70px;
  background-color: rgba(16, 22, 54, 0.2);
  font-size: 13px;
}
.header__lower-header {
  position: relative;
  height: 730px;
}
.header__lower-header-slider {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.header__lower-header-slider-content {
  overflow: hidden;
  min-width: 600px;
  max-width: 60%;
  max-height: 400px;
  margin-bottom: 75px;
}
.header__lower-header-slider-content-box {
  text-align: center;
  font-family: OpenSansLight;
  margin-top: 125px;
  margin-bottom: 100px;
}
.header__lower-header-slider-content-box-title {
  font-size: 62px;
}
.header__lower-header-slider-content-box-title-important {
  font-family: OpenSansBold;
}
.header__lower-header-slider-content-box-description {
  margin-left: -5px;
  font-size: 48px;
  margin-bottom: 18px;
}
.header__lower-header-slider-content-box-description-colored {
  color: #0feb9e;
}
.header__lower-header-slider-content-box-additional-text {
  position: relative;
  font-size: 18px;
  margin-left: 2px;
}
.header__lower-header-slider-content-box-additional-text:before {
  position: absolute;
  top: 50%;
  left: 152px;
  content: '';
  width: 28px;
  border-bottom: 1px solid #0feb9e;
}
@media screen and (max-width: 900px) {
  .header__lower-header-slider-content-box-additional-text:before {
    left: 50px;
  }
}
@media screen and (max-width: 700px) {
  .header__lower-header-slider-content-box-additional-text:before {
    left: 80px;
  }
}
.header__lower-header-slider-content-box-additional-text:after {
  position: absolute;
  top: 50%;
  right: 150px;
  content: '';
  width: 28px;
  border-bottom: 1px solid #0feb9e;
}
@media screen and (max-width: 900px) {
  .header__lower-header-slider-content-box-additional-text:after {
    right: 50px;
  }
}
@media screen and (max-width: 700px) {
  .header__lower-header-slider-content-box-additional-text:after {
    right: 80px;
  }
}
.header__lower-header-slider-content-wrapper {
  position: relative;
  height: 300px;
}
.header__lower-header-slider-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 41%;
  right: 3%;
}
.header__lower-header-slider-controls-button {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin: 7px 0;
  border-radius: 50%;
  border: 1px solid #fff;
}
.header__lower-header-slider-controls-button:hover {
  transform: scale(1.5);
}
.header__lower-header-slider-controls-button_active {
  background-color: #fff;
}
.logo {
  position: relative;
  display: flex;
  min-width: 300px;
  height: 100%;
  color: #fff;
  justify-content: center;
}
.logo__title {
  display: flex;
  font: 28px Pacifico;
  align-items: flex-end;
  margin-left: 22px;
  margin-right: 52px;
  letter-spacing: 1px;
}
.logo__additional-text {
  margin-top: 7px;
  display: flex;
  font-family: OpenSansLight;
  color: rgba(255, 255, 255, 0.3);
  align-items: center;
  letter-spacing: 0.7px;
}
.logo__additional-text:before {
  position: absolute;
  top: 32px;
  left: 50.2%;
  content: '';
  border-left: 1px solid #204458;
  width: 20px;
  height: 18px;
}
@media screen and (max-width: 990px) {
  .navigation {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 640px;
    height: 70px;
    justify-content: space-between;
  }
}
.navigation__list {
  margin-right: 52px;
  letter-spacing: 0.8px;
  justify-content: flex-end;
  display: flex;
  height: 100%;
}
@media screen and (max-width: 990px) {
  .navigation__list {
    margin: 0 auto;
    max-width: 80%;
    justify-content: space-between;
  }
}
.navigation__list-item {
  box-sizing: content-box;
  margin: 0 17px;
  height: 100%;
}
.navigation__list-item-link {
  padding-top: 8px;
  display: flex;
  align-items: center;
  border-top: 2px solid transparent;
  height: 100%;
  color: #fff;
}
@media screen and (max-width: 990px) {
  .navigation__list-item-link {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 750px) {
  .navigation__list-item-link {
    padding: 20px 10px;
  }
}
.navigation__list-item-link_active {
  border-top: 2px solid #32b0ee;
}
@media screen and (max-width: 990px) {
  .navigation__list-item-link_active {
    border-top: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.navigation__list-item-link:hover {
  padding-top: 8px;
  border-top: 2px solid #32b0ee;
  color: #fff;
}
.socials {
  position: absolute;
  left: 46%;
  bottom: 48px;
}
@media screen and (max-width: 640px) {
  .socials {
    left: 40%;
  }
}
.socials__list {
  display: flex;
}
.socials__list-item {
  width: 20px;
  height: 20px;
  margin: 0 6px;
  filter: opacity(0.3);
}
.socials__list-item:hover {
  filter: opacity(1);
}
.socials__list-item-link {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.socials__list-item_twitter {
  background: url("../img/header_socials_sprite.png") no-repeat -10px -50px;
}
.socials__list-item_facebook {
  background: url("../img/header_socials_sprite.png") no-repeat -88px -10px;
}
.socials__list-item_google {
  background: url("../img/header_socials_sprite.png") no-repeat -50px -10px;
}
.socials__list-item_dribbble {
  background: url("../img/header_socials_sprite.png") no-repeat -10px -10px;
}
* {
  transition: all 1s;
}
body {
  max-width: 1600px;
  min-width: 640px;
  margin: 0 auto !important;
  padding: 0;
}
ul,
ul li,
p,
h1,
h2,
h3,
h4,
a:hover {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.row {
  padding: 0 !important;
  margin: 0 !important;
}
