.facts {
  height: 600px;
  background: url("../img/facts_bg.jpg") no-repeat 50% 0;
  padding-top: 91px;
  &__block-title {
    background: url("../img/title_bg_white.png") no-repeat 50% 90% !important;
  }
}