@font-face {
  font-family: "OpenSansExtraBold";
  src: url(../fonts/open-sans-extrabold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url(../fonts/open-sans-semibold.ttf) format("truetype");
}

@blocks-text-color: #062033;

.features {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 68px;
  height: 460px;
  background-color: #f4f7f9;
  @media screen and (max-width: 1100px) {
    height: 550px;
  }
  @media screen and (max-width: 1000px) {
    height: 800px;
  }
}

.block-title {
  position: relative;
  text-transform: uppercase;
  color: #0eb493;
  text-align: center;
  font: 28px OpenSansExtraBold, sans-serif;
  padding-bottom: 35px;
  background: url("../img/title_bg.png") no-repeat 50% 90%;
}

.features-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__inner-content {
    position: absolute;
    display: flex;
    transition: all 1s;
  }
  &__content-box {
    display: flex;
    &-element {
      color: @blocks-text-color;
      max-width: 33%;
      padding-left: 55px;
      padding-right: 21px;
      margin-left: 30px;
      @media screen and (max-width: 1000px) {
        max-width: 100%;
        padding: 0;
      }
      &-title {
        font: 20px OpenSansSemiBold, sans-serif;
        margin-bottom: 18px;
      }
      &-text {
        text-align: justify;
        font: 13px OpenSansRegular, sans-serif;
        line-height: 21px;
        letter-spacing: -0.2px;
      }
    }
  }
  &__content {
    position: relative;
    height: 65%;
    width: 75%;
    overflow: hidden;
    @media screen and (max-width: 1000px) {
      width: 85%;
    }
    @media screen and (max-width: 600px) {
      height: 120%;
    }
    &-box {
      transition: all 0.5s;
      filter: opacity(0);
      @media screen and (max-width: 1000px) {
        flex-direction: column;
        width: 100%;
      }
      &-element {
        &_first {
          background: url('../img/features_feather.png') no-repeat 0px 4px;
        }
        &_second {
          margin-left: 27px;
          background: url('../img/features_pencil.png') no-repeat 0px 4px;
        }
        &_third {
          margin-left: 28px;
          background: url('../img/features_megaphone.png') no-repeat 0px 4px;
        }
        @media screen and (max-width: 1000px) {
          flex-direction: column;
          margin-bottom: 10%;
        }
        @media screen and (max-width: 1000px) {
          background-position:0px 55%;
          //background-size: 10%;
          padding-left: 80px;
        }
      }
      &_active {
        filter: opacity(1);
      }
    }
  }
  &__controls {
    display: flex;
    position: absolute;
    bottom: 55px;
    left: 47.8%;
    &-button {
      width: 8px;
      height: 8px;
      border: 1px solid #d4dade;
      border-radius: 50%;
      margin: 0 8px;
      &_active {
        border: 1px solid @blocks-text-color;
        background-color: @blocks-text-color;
      }
    }
  }
}