.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px ;
  &__text-content {
    font: 18px OpenSansSemiBold, sans-serif;
    text-align: center;
    width: 60%;
    margin-top: 25px;
  }
}

.photography {
  width: 100%;
  &__sort {
    margin: 48px 0 0 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      width: 320px;
      margin: 50px auto;
    }
    &-buttons {
      display: flex;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
      }
      &-item {
        margin: 0 5px 0 4px;
        display: inline-block;
        font: 14px OpenSansBold, sans-serif;
        color: #062033;
        padding: 5px 20px;
        cursor: pointer;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        &_active, &:hover {
          color: #fff;
          background-color: #0eb493;
          border-radius: 5px;
        }
      }
    }
  }
  &__images-block {
    width: 100%;
    height: 600px;
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    @media screen and (max-width: 1599px) {
      width: 800px;
      flex-wrap: wrap;
      margin: 38px auto;
    }
    @media screen and (max-width: 800px) {
      width: 404px;
      height: 600px;
      margin: 38px auto;
    }
    @media screen and (max-width: 600px) {
      width: 320px;
      height: 480px;
    }
    &-wrapper {

    }
  }
  &__image, &__photo-container-watch, &__photo-container, &__photo-container-link {
    width: 400px;
    height: 300px;
    @media screen and (max-width: 600px) {
      width: 316px;
      height: 240px;
    }
  }
  &__photo-container {
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
    &_active {
      display: flex;
    }
    &-link {
      position: absolute;
      display: block;
      &:hover .photography__photo-container-watch {
        transform: translateY(0);
      }
    }
    //&:hover .photography__photo-container-watch {
    //  transform: translateY(0);
    //}
    &-watch {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 1s;
      transform: translateY(300px);
      background: rgba(14, 180, 147, 0.9) url("../img/works_eye.png") no-repeat 50% 38%;
      text-align: center;
      color: #fff;
      &-title {
        margin-top: 65px;
        font: 18px OpenSansBold, sans-serif;
      }
      &-category {
        font: 14px OpenSansRegular, sans-serif;
        margin-top: -4px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 31.5%;
        width: 38px;
        height: 38px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }
  }
}