@import url("_header.less");
@import url("_features_block.less");
@import url("_works.less");
@import url("_team.less");

body {
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto !important;
    padding: 0;
    font-family: OpenSansRegular;
}

ul, ul li, p, h1, h2, h3, h4, a:hover {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #32b0ee; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #32b0ee; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #32b0ee;}